*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 24px;
}
.resume{
    width: 70%;
    margin: 20px auto;
    padding: 5%;
    background-color:rgb(230, 230, 230);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: black;
}
.resumeInnerContainer{
    border: 2px solid rgb(178, 135, 235);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(248, 240, 255);
}
.seperator{
    width: 75%;
    margin: 15px auto;
    border-bottom: 3px solid black;
}
.personal-information{
    text-align: center;
}
.name, .location, .contact, .objective, .skills {
    margin: 4px 0; /* Single line to add space between these elements */
}
.contact{
    color: rgb(12, 12, 145);
    text-decoration: underline;
}
h3 { 
    text-decoration: underline;
    padding-bottom: 1.5%;
}
p{
    line-height: 20px
}
.bullets{
    margin-left: 7%;
    line-height: 20px;
}
#toggle-button {
    text-align: right; /* Aligns the button to the right side */
}
#toggle-button button {
    padding: 10px 20px;             
    background-color: rgb(178, 135, 235);  
    border: none;                   
    border-radius: 8px;                       
    font-size: 16px;                
    cursor: pointer;         
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Hover effect for the button */
#toggle-button button:hover {
    color: rgb(97, 57, 161); 
}