*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Styling for Resume Form */
form {
    margin: auto;
    background-color: rgb(230, 230, 230);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: black;
}

fieldset {
    border: 2px solid rgb(178, 135, 235);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(248, 240, 255);
}

legend {
    font-weight: bold;
    text-align: left;
    color: rgb(34, 29, 29);
}

label {
    display: block;
    margin-top: 10px;
    color: black;

}

input,textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1px solid rgb(178, 135, 235);
    border-radius: 4px;
    box-sizing: border-box;
}

button, #downloadPDF {
    width: 60%;           
    padding: 10px;        
    margin: 20px auto;     
    display: block;     
    text-align: center;   
    background-color: rgb(178, 135, 235); 
    color: black;         
    border: none;          
    border-radius: 8px;    
    font-size: 16px; 
}
#downloadPDF, #shareResumeButton{
    width: 30%;
}
button:hover, #downloadPDF:hover, #shareResumeButton:hover {
    color: rgb(162, 0, 255);
}

/* Styling for Display resume */
#resumeDisplay {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid rgb(178, 135, 235);
    border-radius: 8px;
    background-color: rgb(230, 230, 230);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#resumeDisplay h2 {
    color: black;
}

/* Style for the Generated Resume */
.generatedResume {
    border: 2px solid #ccc;
    padding: 20px;
    width: 90%;
    margin: 20px auto;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.generatedResume h2 {
    text-align: center;
    color: #4CAF50;
}

.generatedResume h3 {
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #333;
}

#seperator{
    border-bottom: 1px solid #ddd;
}

.generatedResume p {
    line-height: 1.6;
    color: #555;
}

.generatedResume p b {
    color: #000;
    font-weight: bold;
}
